*{
    margin:0;
    padding:0;
}

ul{
    background-color: rgb(69, 206, 206);
    display: flex;
    justify-content: space-evenly;
}


a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}


#outer{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 0);
    margin: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inner{
    height: 50px;
    width: 50px;
    background-color: rgb(0, 255, 0);
}



#media{
    background-color: rgb(0, 0, 255);
    height: 100px;
    width: 100px;
}

@media (max-width:300px){
    #media{
        background-color: green;
    }
}

@media (min-width:300px) and (max-width:400px){
    #media{
        background-color: pink;
    }
}

@media (min-width:400px) and (max-width:600px){
    #media{
        background-color: red;
    }
}